/*
    Autor: Osmar Israel Villegas Martínez
*/

/* Importa una fuente de google fonts */
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

.newsAndUpdate-contenido {
  /* Establece el contenedor de noticias en modo flex para que sus elementos sean dispuestos en una fila */
  display: flex;
  /* Establece la posición relativa para que los elementos internos sean posicionados relativos a este elemento */
  position: relative;

  /* Establece el modo de flex-wrap para que los elementos se ajusten automáticamente cuando se reduzca el ancho de la pantalla */
  flex-wrap: wrap;

  /* Establece la alineación horizontal al centro para que los elementos estén centrados en el contenedor */
  justify-content: center;

  /* Establece el color de fondo del contenido a rgb(39, 39, 39) */
  background-color: rgb(39, 39, 39);

  /* Establece un padding inferior de 5em al contenido */
  padding-bottom: 5em;

  /* Establece la propiedad z-index a 800 para que los elementos sean colocados encima de otros elementos */
  z-index: 800;
}

.newsAndUpdate-noticias-1,
.newsAndUpdate-noticias-2,
.newsAndUpdate-noticias-3,
.newsAndUpdate-noticias-4 {
  /* Establece la posición relativa para que los elementos internos sean posicionados relativos a este elemento */
  position: relative;
  /* Establece un borde redondeado del 5% para el elemento */
  border-radius: 5%;

  /* Establece la altura mínima del elemento a 15em */
  min-height: 15em;

  /* Establece la anchura mínima del elemento a 18em */
  min-width: 18em;

  /* Establece el margen del elemento */
  margin: 1.5em;

  /* Agrega una sombra al elemento */
  box-shadow: 19px 20px 23px -9px rgba(0, 0, 0, 0.92);
  -webkit-box-shadow: 19px 20px 23px -9px rgba(0, 0, 0, 0.92);
  -moz-box-shadow: 19px 20px 23px -9px rgba(0, 0, 0, 0.92);

  /* Establece la posición del fondo */
  background-position: center;

  /* Establece la repetición del fondo */
  background-repeat: no-repeat;

  /* Establece el tamaño del fondo */
  background-size: cover;

  /* Establece la imagen de fondo */
  background-image: url("../../imagenes/noticias/noticiasOptimen-13.jpg");
}

.tarjeta {
  /* Establece la posición relativa para que los elementos internos sean posicionados relativos a este elemento */
  position: relative;
  /* Establece el color de fondo del elemento */
  background-color: black;

  /* Establece la opacidad del elemento */
  opacity: 0.7;

  /* Establece la altura del elemento */
  height: 30%;

  /* Establece la posición superior del elemento */
  top: 70%;

  /* Establece la duración de la transición del elemento */
  transition: 0.6s;

  /* Establece el modo de flex-wrap para que los elementos se ajusten automáticamente cuando se reduzca el ancho de la pantalla */
  display: flex;
  flex-wrap: wrap;

  /* Establece la alineación vertical de los elementos */
  align-items: start;

  /* Establece el borde de los elementos */
  border-radius: 0 0 6% 6%;

  /* Establece que los elementos que sobresalente del elemento no se muestran en pantalla */
  overflow: hidden;
}

/* Cuando se hace hover sobre una tarjeta, se cambia el color de fondo a negro con una opacidad del 80%, se aumenta su altura al 100%, y se coloca en la parte superior de la página. Además, se añade un borde redondeado del 5%. */
.tarjeta:hover {
  background-color: black;
  opacity: 0.8;
  height: 100%;
  top: 0;
  border-radius: 5%;
}

/* Estilo para el texto dentro de las noticias y actualizaciones. Se establece un margen superior de 0.5em, se posiciona relativo, se establece el color de fuente a blanco, se añade un padding del 5%, y se establece el peso de fuente a negrita. Además, se establece el tipo de ajuste del objeto como "cover". */
.newsAndUpdate-texto {
  margin-top: 0.5em;
  position: relative;
  color: white;
  padding: 5%;
  font-weight: bold;
  object-fit: cover;
}

/* Estilo para la segunda noticia. Se establece una imagen de fondo para la tarjeta. */
.newsAndUpdate-noticias-2 {
  background-image: url("../../imagenes/noticias/noticiasOptimen-14.jpg");
}

/* Estilo para la tercera noticia. Se establece una imagen de fondo para la tarjeta. */
.newsAndUpdate-noticias-3 {
  background-image: url("../../imagenes/noticias/noticiasOptimen-15.jpg");
}

/* Estilo para la cuarta noticia. Se establece una imagen de fondo para la tarjeta. */
.newsAndUpdate-noticias-4 {
  background-image: url("../../imagenes/noticias/noticiasOptimen-16.jpg");
}
/* Estilo para el título de la noticia dentro de las noticias y actualizaciones. */
.newsAndUpdate-titulo-noticia {
  text-align: left; /* Se alinea el texto a la izquierda */
  width: 100%; /* Se establece el ancho al 100% */
  top: 0; /* Se posiciona en la parte superior de la página */
  margin-top: 4%; /* Se establece un margen superior del 4% */
  margin-left: 3%; /* Se establece un margen izquierdo del 3% */
  color: rgb(255, 250, 250); /* Se establece el color de fuente en blanco */
  z-index: 200; /* Se establece un índice de apilamiento de 200 */
}

/* Estilo para la fecha dentro de las noticias y actualizaciones. */
.newsAndUpdate-fecha {
  margin-left: 4%; /* Se establece un margen izquierdo del 4% */
  font-size: 0.8em; /* Se establece un tamaño de fuente de 0.8em */
  margin-top: 0; /* Se establece un margen superior de 0 */
  color: rgb(255, 250, 250); /* Se establece el color de fuente en blanco */
}

/* Estilo para una fila de elementos. */
.fila {
  display: flex; /* Se establece la propiedad display como flex */
  flex-direction: row; /* Se establece la dirección de la fila como horizontal */
  flex-wrap: wrap; /* Se permite que los elementos se envuelvan en varias líneas */
  justify-content: center; /* Se alinea horizontalmente el contenido al centro */
}

/* Estilo para el título de una sección. */
.Titulo {
  color: white; /* Se establece el color de fuente en blanco */
  display: block; /* Se muestra como un bloque */
  margin-top: 0.5em; /* Se establece un margen superior de 0.5em */
  margin-bottom: 0.5em; /* Se establece un margen inferior de 0.5em */
}

/* Definición de estilos para el botón */
.boton {
position: absolute; /* posición absoluta */
right: 0; /* distancia desde el borde derecho del contenedor padre */
bottom: 0; /* distancia desde el borde inferior del contenedor padre */
margin: 2em 5em; /* margen superior e inferior de 2em, margen derecho e izquierdo de 5em */
min-width: 7em; /* ancho mínimo */
min-height: 2.5em; /* altura mínima */
border-radius: 5%; /* radio de borde redondeado */
font-size: 1.1em; /* tamaño de fuente */
color: white; /* color de texto */
font-family: "Slabo 27px", serif; /* fuente */
background-color: rgb(0, 0, 0); /* color de fondo */
opacity: 0.9; /* opacidad */
transition: 0.2s; /* efecto de transición */
}

/* Estilos al pasar el ratón por encima del botón */
.boton:hover {
opacity: 1; /* opacidad al 100% */
transform: scale(1.02); /* aumento de tamaño del botón */
}

/* Estilos para el botón en la sección de noticias */
.news-boton {
color: white; /* color de texto */
}

/* Estilos al pasar el ratón por encima del botón en la sección de noticias */
.news-boton:hover {
color: white; /* color de texto */
}